*{
    margin: 0; padding: 0;

}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: pink;
}

.time{
margin-top: 200px;
}

.submit{
   width: 100px;
   height: 20px;
}